* {
    margin: 0;
    padding: 0;
  }
.hidden {
    opacity: 0;
  }
  
  #loader {
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: -48px;
    background: #FABC20;
  }
  
  .preloader {
    position: absolute;
    width: 40px;
    height: 40px;
    left: calc(50% - 20px);
    top: calc(50% - 20px);
    background: #f9f9f9;
    transform: rotate(45deg);
    animation: preloader 2s linear infinite;
  }
  
  .loadBar {
    position: absolute;
    width: 200px;
    height: 2px;
    left: calc(50% - 100px);
    top: calc(50% + 60px);
    background: #FABC20;
  }
  
  .progress {
    position: relative;
    width: 0%;
    height: inherit;
    background: #e74c3c;
  }
  
  @keyframes loading {
  
    0% {
      width: 0%;
    }
  
    100% {
      width: 100%;
    }
  
  }
  
  @keyframes preloader {
  
    0%, 100% {
      transform: rotate(45deg);
    }
  
    60% {
      transform: rotate(405deg);
    }
  
  }